body, html {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    background-color: rgb(40,40,40);
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    border: 16px solid black;
    box-shadow: 
        0 4px 12px 6px rgba(0, 0, 0, 0.1), /* Shadow on top edge */
        4px 0 12px 6px rgba(0, 0, 0, 0.1), /* Shadow on right edge */
        0 -4px 12px 6px rgba(0, 0, 0, 0.1), /* Shadow on bottom edge */
        -4px 0 12px 6px rgba(0, 0, 0, 0.1); /* Shadow on left edge */
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px;
}

#display {
    grid-column: 1 / -1;
    font-size: 5.5em;
    background-color: rgb(140, 140, 140);
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    margin: 2px;
    border: 0;
}

button {
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 2px;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.operator {
    background-color: orange;
}

.equals {
    background-color: orange;
}

.clear {
    background-color: dodgerblue;
}

.sign {
    background-color: dodgerblue
}

.percent {
    background-color: dodgerblue
}

#zero {
    grid-column: span 2;
}